.footer {
  margin-top: 120px;
  border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--mantine-spacing-md);
  padding-bottom: var(--mantine-spacing-md);

  @media (max-width: $mantine-breakpoint-sm) {
    flex-direction: column;
  }
}

.leftSpacer {
  flex: 1;
}

.links {
  @media (max-width: $mantine-breakpoint-sm) {
    margin-top: var(--mantine-spacing-lg);
    margin-bottom: var(--mantine-spacing-sm);
  }
}

.socials {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}