@import "tailwind-preset-mantine";
@import "@mantine/notifications/styles.css";
@import "@mantine/dates/styles.css";
@import "./theme.css";

.mantine-Notifications-root {
  top: 70px;
  pointer-events: none;
}

.mantine-Notifications-notification {
  pointer-events: auto;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}

@media (max-width: 576px) {
  .container {
    padding-left: 4px;
    padding-right: 4px;
  }
}
